
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
coverage
dist

# API keys
.env

# Dependency directory
node_modules
bower_components
package-lock.json

#executable installer
sabinpris-win32-x64
sabinpris-win32-x64.zip
sabinpris-win32-ia32
sabinpris-win32-ia32.zip

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
